body {
            background-color: pink;
        }
        h2 {
            color: red;
            text-align: center;
        }
        p {
            color: yellow;
            font-size: 18px;
        }
